<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="A prototype voting application for reader's choice awards, employing a fairer voting system called Ranked Choice Voting">

    <link rel="icon" href="favicon.ico"> <!-- favicon... -->
    
    {% block load_css %}
    {% endblock %}

    {% block load_javascript %}
    {% endblock %}

    <title>{% block title %}Reader's Choice Restaurants{% endblock %}</title>
</head>
<body>
        {% block body %}
        {% endblock %}
</body>
</html>
