/*********  Common  *********/
html {
    height: 100%;
}

@media (max-width: 320px) {
    /* Users - like mobile users - with views smaller than 320px will
     * have to scroll/zoom */
    body {
        width: 320px;
    }
}
@media (max-width: 450px) {
    /* Most text is set to larger-than default - in smaller viewports this
     * will shrink the overall text size */
    body {
        font-size: 10px;
    }
}
body {
    /* Background pattern from subtlepatterns.com */
    font-family: sans-serif;
    /*background-color: #c5c1c0;*/
    background-color: #1a2930;
    margin: 0px;
    color: #fef9e7;
    height: 100%;
}

#page-header {
    text-align: left;
    font-size: 1.75em;
    font-weight: bold;

    margin: 0px;
    background-color: #141f24;
}
#body-margined {
    margin: 0px;
    margin-left: 12px;
    margin-right: 12px;
}

.middle_column {
    overflow: auto;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}
#body-margined .middle_column {
    background-color: #1a2930;
}
#page-header .middle_column {
    padding: .75em;
    padding-top: 1.5em;
}

@media (max-width: 450px) {
    .middle_column {
        width: 90%;
    }
}
@media (min-width: 900px) {
    /* this must be after the default so it overrides it when active
     * @media doesn't add any specificity, so the order matters */
    .middle_column {
        width: 675px;
    }
}

.text_button, .small_text_button {
	color: inherit;
	background-color: inherit;
    background-image: none;
    border: thin solid #fef9e7;
    cursor: pointer;
    outline: none;

	border-radius: .5em;
    padding: .1em .2em .1em .25em;
    text-decoration: inherit;

    /*box-shadow: 2px 2px 5px lightgrey;*/
}
.text_button:active, .small_text_button:active {
    box-shadow: inset 2px 2px 5px lightgrey;
}
.text_button {
    font-size: 2em;
}
.small_text_button {
    font-size: 1.25em;
}
.text_button_surround {
    margin: 5px 0px;
    padding: 5px 0px;
}

ol {
    list-style-position: inside;
    padding:0px;
}



/*********  Voting page  *********/
/* One-off formatting for specific IDs */
#error-msg { 
    font-size: 1.5em;
    font-weight: bold;
    color: red;
}
#how-to {
    display: none;
    border: thin solid #f7ce3e;
    padding: 1em;
    margin: 1em;
}
#verify-ballot-area {
    display: none;
    padding: 1em;
    margin: 1em;
}
#verify-ballot-hdr {
    font-size: 1.5em;
    font-weight: bold;
}
#check-ballot-btn {
    text-align: center;
}
#form {
    display: none;
}
#vcm-header { font-size: 1.25em; font-weight: bold; }
#instructions-list { font-size: 1em; margin: 0px; }

/* Question box formatting */
.poll_question {
    padding: 1em;
    background-color: #1a2930;
    border: thin solid #f7ce3e;
    margin-top: .5em;
    margin-bottom: .5em;

    margin-left: -10px;
    margin-right: 10px;
}
.poll_question:nth-of-type(odd) {
    margin-left: 10px;
    margin-right: -10px;
}

.question_description {
    font-size: 1.5em;
    font-weight: bold;
}

/* Answer box formatting when there are items both selected and unselected*/
.question_selected, .question_unselected{
    margin: .5em;
    min-height: 2.5em;
    border-left: thick solid #f8f7f7;
}
.question_resp_header {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    border-bottom: thin solid #f7ce3e;
}

/* Have lines between poll_answers in the selected and unselected boxes - 
 * note that the line between selected/unselected box is taken care of ^^^ */
.poll_answer, .poll_answer_placeholder {
    padding: 1em;
    border: none;
    cursor: pointer;
}
.poll_answer_placeholder {
    min-height: 3em;
}
.poll_answer:last-of-type, .poll_answer_placeholder:last-of-type, .poll_answer.ui-sortable-helper {
    border-bottom: none;
}
.poll_answer > div {
    display: inline-block; /* float any div that's child to the answer box */
    vertical-align: middle;
}
.poll_answer_desc {
    font-size: 1.25em;
    font-weight: lighter;
}
.poll_answer_desc, .poll_answer_rank {
    color: #f8f7f7;
}

/* Make certain things visible only when they're on the ballot,
 * and make other things visible only when they're off the ballot,
 * but make all things invisible if they're on a moving answer */
.question_selected .only_when_sel,
    .question_unselected .only_when_unsel {
        display: inline;
}
.question_unselected .only_when_sel,
    .question_selected .only_when_unsel {
        display: none; 
}
.answer_moving .only_when_sel,
    .answer_moving .only_when_unsel {
        display: none;
}

/* Formatting for the answer ranking box */
.poll_answer_rank {
    font-size: 5em;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

form {
    text-align: center;
}

.tutorial_child {
    text-align: center;
    font-size: .8em;
    padding: 5px;
    border-radius: .5em;
    background-color: #141f24;
    position: absolute;
    z-index: 100;
}



/*********  Results Page  *********/
#results {
    display: none;
}
#thank-you {
    font-size: 1.75em;
    font-weight: bold;
}
.result_question {
    padding: 1em;
    border: thin solid #f7ce3e;
    margin-top: .5em;
    margin-bottom: .5em;
}
.result_round_num {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 1em;
}
.result_answer {
    font-size: 1em;
    margin: 5px 0px;
    color: #f8f7f7;
    position: relative;
    overflow: visible;
    white-space: nowrap;
}
.winner_question {
    border: thin solid #f7ce3e;
    padding: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}
.winner_answer {
    font-size: 1.5em;
    color: #f8f7f7;
}
.underline {
    /*border-bottom: thin solid #f7ce3e;*/
}

.bar_graph_bar {
    border: thick solid #f7ce3e;
    padding: .2em;
    box-sizing: border-box;
}

.result_answer::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 100%;
    border-left: 2px dashed #c0392b;
}


/*********  Poll splash page  *********/
.poll_splash_content {
    text-align: center;
}
#poll-desc {
    font-size: 1.25em;
}
