body {
    font-family: "HelveticaNeue","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

body, #body-margined .middle_column, .poll_question, .tutorial_child {
    background-color: #f7f7f7;
}

body, .result_answer, .winner_answer, .poll_answer_desc, .poll_answer_rank {
    color: #111111;
}

#page-header {
    background-color: #000000;
    color: #ffffff;
}

.text_button, .small_text_button, .question_selected, .question_unselected,
.question_resp_header, .poll_question, #how-to, .result_question,
.winner_question, .bar_graph_bar {
    border-color: #111111;
}

.poll_answer_desc, .poll_answer_rank {
    font-family: Georgia;
}



