{% extends "voting/base.html" %}

{% load static %}
{% load customtags %}

{% block javascript_imports %}
        <script type="text/javascript" src="{% static "voting/ranked_choice.js" %}"></script>
{% endblock %}

{% block javascript_data %}
    <script type="text/javascript">
        question_list = [
            {% for question in poll.question_set.all %}
                "{{ question.id }}",
            {% endfor %}
            ];
    </script>
{% endblock %}

{% block title%}Ballot - {{ poll.title }}{% endblock %}
{% block header_title %}Ballot - {{ poll.title }}{% endblock %}

{% block body %}
    {% if error_msg %}<div id="error-msg">{{ error_msg }}</div>{% endif %}

    {% include "voting/how_to.html" %}

    <div id="polling-box">
        {% for question in poll.question_set.all %}
            <div class="poll_question" id="question-{{ question.id }}">
                <div class="question_description" id="question-desc-{{ question.id }}">{{ question.desc }}</div>
                <div class="question_resp_header">Selected</div>
                <div class="question_selected" id="question-selected-{{ question.id }}"></div>
                {% spaceless %}
                    <div class="question_resp_header">Non-Selected</div>
                    <div class="question_unselected" id="question-unselected-{{ question.id }}">
                        {% for answer in question.answer_set.all|shuffle %}
                        <div class="poll_answer" id="answer-{{ answer.id }}">
                            <div>
                                <div class="poll_answer_rank only_when_sel" id="rank-answer-{{ answer.id }}">&nbsp;</div>
                            </div>
                            <div class="poll_answer_desc" id="desc-answer-{{ answer.id }}">{{ answer.desc }}</div>
                        </div>
                        {% endfor %}
                    </div>
                {% endspaceless %}
            </div>
        {% endfor %}
    </div>
    <div class="text_button_surround" id="check-ballot-btn"><a href="javascript: validate_ballot();" class="text_button">Check Ballot</a></div>
    <div id="verify-ballot-area">
        <div id="verify-ballot-hdr">Verify Your Ballot:</div>
        <div id="verify-ballot-div-area"></div>
        <form action="{% url 'voting:submit_vote' poll_id=poll.id sticky=sticky%}" method="post" id="form">
            <div id="constructed-form-entries"></div>
            {% csrf_token %}
            <div class="text_button_surround">
                <input type="submit" class="text_button" id="submit-btn">
            </div>
        </form>
    </div>
{% endblock %}
