{% extends "voting/base.html" %}

{% load static %}
{% load customtags %}

{% block javascript_data %}
    <script>
        question_list = [
            {% for question in poll.question_set.all %}
                "{{ question.id }}",
            {% endfor %}
            ];
    </script>
{% endblock %}

{% block body %}
    <h1 id="poll-title">{{ poll.title }}</h1>
    {% if error_msg %}<h2 id="error-msg">{{ error_msg }}</h2>{% endif %}

    {% include "voting/how_to.html" %}

    {% for question in poll.question_set.all %}
        <div class="poll_question" id="question-{{ question.id }}">
            <h2 class="question_description">{{ question.desc }}</h2>
            <div class="question_selected" id="question-selected-{{ question.id }}"></div>
            {% spaceless %}
                <div class="question_unselected" id="question-unselected-{{ question.id }}">
                    {% for answer in question.answer_set.all|shuffle %}
                    <div class="poll_answer" id="answer-{{ answer.id }}">
                        <div class="poll_answer_rank" id="rank-answer-{{ answer.id }}">
                            &nbsp;
                        </div>
                        <div class="poll_answer_desc_btns">
                            <h4>{{ answer.desc }}</h4>
                            <div class="button_box">
                                <a href="javascript: move_up('{{ answer.id }}', '{{ question.id }}');" class="poll_move_up only_when_sel" title="Rank option higher">&#8679;</a>&nbsp;
                                <a href="javascript: move_down('{{ answer.id }}', '{{ question.id }}');" class="poll_move_down only_when_sel" title="Rank option lower">&#8681;</a>&nbsp;
                                <a href="javascript: sel_unsel('{{ answer.id }}', '{{ question.id }}');" class="poll_move_remove only_when_sel" title="Remove option from ballot">&#9746;</a>
                                <a href="javascript: sel_unsel('{{ answer.id }}', '{{ question.id }}');" class="poll_move_add only_when_unsel" title="Add option to ballot">&#9745;</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endspaceless %}
        </div>
    {% endfor %}
    <form action="{% url 'voting:submit_vote' poll.id %}" onsubmit="build_form();" method="post" id="form">
        {% csrf_token %}
        <input type="submit">
    </form>
{% endblock %}
