<h3><a href="javascript: toggle_visible_block('how-to');" title="Display instructions">Instructions</a></h3>
<ol id="how-to" class="initially_invisible">
    <h3>Vote Counting Method: {{ vote_count_method.name }}</h3>
    <li>For each question, use the &quot;<span class="poll_move_small">&#9745;</span>&quot; button to add responses to your ballot.</li>
    <li>Then use the &quot;<span class="poll_move_small">&#8679;</span>&quot; and &quot;<span class="poll_move_small">&#8681;</span>&quot; buttons to place the responses in your order of preference.</li>
    <li>{{ vote_count_method.unranked_explainder }}  To remove options from your ballot, use the &quot;<span class="poll_move_small">&#9746;</span>&quot; button.</li>
    <li>When the poll completes, your preferences will be taken into account to select the winner in each category.</li>
</ol>

