<div class="text_button_surround"><a href="javascript: toggle_visible_block('how-to', true);" title="Display instructions" class="small_text_button">Instructions</a></div>
<div id="how-to" class="initially_invisible">
    <div id="vcm-header">Vote Counting Method: {{ vote_count_method.name }}</div>
    <ol id="instructions-list">
        <li>Add options to your ballot by dragging them into the &quot;selected&quot; area for each question.</li>
        <li>Drag your options into the order in which you prefer them.</li>
        <li>Add as many options as you wish - you may vote for multiple options per question.</li>
        <li>Adding an option does not dilute your vote for any other option, it simply indicates which options you prefer.</li>
        <li>{{ vote_count_method.unranked_explainder }}</li>
        <li>When the poll completes, your preferences will be taken into account to select the winner in each category.</li>
    </ol>
</div>
